<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Викторина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% if question %}
    <div class="title">
      <h1>{{question}}</h1>
    </div>
  {% endif %}

  <form method="post" action="test">
    <input type="hidden" name="q_id" value="{{quest_id}}">
    <div class="vibor">
        {% for answer in answers_list %}
          <div class="form_radio_btn">
              <input type="radio" id="ans_{{ loop.index }}" name="ans_text" value="{{ answer }}">
              <label for="ans_{{ loop.index }}">{{ answer }}</label>
          </div>
        {% endfor %}
        <p>
          <input type="submit" value="Ответить">
        </p>
    </div>
  </form>
</body>
</html>



